    <!-- svelte-ignore a11y-missing-attribute -->
<script>
  import { onMount } from "svelte";
  let postData = [];

  onMount(async () => {
    fetch("taggbox.json")
      .then((response) => response.json())
      .then((data) => {
        postData =  Object.entries(data.postData);
        console.log(postData)
      });
  });
</script>

<main>
  <h1>Travelgram</h1>

  <!-- <p>{JSON.stringify(postData, null, 2)}</p> -->

  {#each postData as post}

   <p>{JSON.stringify(post[1], null, 2)}</p> 

  <div>
    <p>{post.id}</p>
    <div><img src="{post.postFileNew}"/></div>
    <div><a href="{post.link}">Instagram</div>
    <!-- <img src="{post.author.picture}"/><br/> -->
    <!-- <p>{JSON.stringify(post.ugc_products, null, 2)}</p> -->
  </div>
  {/each}
</main>

<style>
</style>
